global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'order-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8080']
    scrape_interval: 5s

  # 如果有其他微服務，可以在這裡新增
  # - job_name: 'inventory-service'
  #   metrics_path: '/actuator/prometheus'
  #   static_configs:
  #     - targets: ['host.docker.internal:8081']
